#ICE_SUGAR_PRO board
BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

#CLOCK
LOCATE		COMP "clk"			SITE "P6";
IOBUF		PORT "clk" 			IO_TYPE=LVCMOS33;
FREQUENCY 	PORT "clk" 			25.0 MHz;

#LED	
LOCATE		COMP "led[0]" 			SITE "B11";
IOBUF 		PORT "led[0]" 			IO_TYPE=LVCMOS33;
LOCATE 		COMP "led[1]" 			SITE "A11";
IOBUF 		PORT "led[1]" 			IO_TYPE=LVCMOS33;
LOCATE	 	COMP "led[2]" 			SITE "A12";
IOBUF 		PORT "led[2]" 			IO_TYPE=LVCMOS33;

#UART	
LOCATE 		COMP "uart_tx" 			SITE "B9";
IOBUF 		PORT "uart_tx" 			IO_TYPE=LVCMOS33;
LOCATE 		COMP "uart_rx" 			SITE "A9";
IOBUF 		PORT "uart_rx" 			IO_TYPE=LVCMOS33;

#SDRAM
LOCATE 		COMP "SDRAM_CLK"		SITE "R15";
IOBUF 		PORT "SDRAM_CLK" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_CLK" 		DRIVE=4;
IOBUF 		PORT "SDRAM_CLK" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_CLK" 		IO_TYPE=LVCMOS33;
LOCATE		COMP "SDRAM_A[0]" 		SITE "H15";
IOBUF 		PORT "SDRAM_A[0]" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_A[0]" 		DRIVE=4;
IOBUF 		PORT "SDRAM_A[0]" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_A[0]" 		IO_TYPE=LVCMOS33;
LOCATE 		COMP "SDRAM_A[1]" 		SITE "B13";
IOBUF 		PORT "SDRAM_A[1]" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_A[1]" 		DRIVE=4;
IOBUF 		PORT "SDRAM_A[1]" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_A[1]" 		IO_TYPE=LVCMOS33;
LOCATE 		COMP "SDRAM_A[2]" 		SITE "B12";
IOBUF 		PORT "SDRAM_A[2]" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_A[2]" 		DRIVE=4;
IOBUF 		PORT "SDRAM_A[2]" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_A[2]" 		IO_TYPE=LVCMOS33;
LOCATE 		COMP "SDRAM_A[3]" 		SITE "J16";
IOBUF 		PORT "SDRAM_A[3]" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_A[3]" 		DRIVE=4;
IOBUF 		PORT "SDRAM_A[3]" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_A[3]" 		IO_TYPE=LVCMOS33;
LOCATE 		COMP "SDRAM_A[4]" 		SITE "J15";
IOBUF 		PORT "SDRAM_A[4]" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_A[4]" 		DRIVE=4;
IOBUF 		PORT "SDRAM_A[4]" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_A[4]" 		IO_TYPE=LVCMOS33;
LOCATE 		COMP "SDRAM_A[5]" 		SITE "R12";
IOBUF 		PORT "SDRAM_A[5]" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_A[5]" 		DRIVE=4;
IOBUF 		PORT "SDRAM_A[5]" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_A[5]" 		IO_TYPE=LVCMOS33;
LOCATE 		COMP "SDRAM_A[6]" 		SITE "K16";
IOBUF 		PORT "SDRAM_A[6]" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_A[6]" 		DRIVE=4;
IOBUF 		PORT "SDRAM_A[6]" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_A[6]" 		IO_TYPE=LVCMOS33;
LOCATE	 	COMP "SDRAM_A[7]" 		SITE "R13";
IOBUF 		PORT "SDRAM_A[7]" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_A[7]" 		DRIVE=4;
IOBUF 		PORT "SDRAM_A[7]" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_A[7]" 		IO_TYPE=LVCMOS33;
LOCATE		COMP "SDRAM_A[8]" 		SITE "T13";
IOBUF 		PORT "SDRAM_A[8]" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_A[8]" 		DRIVE=4;
IOBUF 		PORT "SDRAM_A[8]" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_A[8]" 		IO_TYPE=LVCMOS33;
LOCATE	 	COMP "SDRAM_A[9]" 		SITE "K15";
IOBUF 		PORT "SDRAM_A[9]" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_A[9]" 		DRIVE=4;
IOBUF 		PORT "SDRAM_A[9]" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_A[9]" 		IO_TYPE=LVCMOS33;
LOCATE		COMP "SDRAM_A[10]"		SITE "A13";
IOBUF 		PORT "SDRAM_A[10]" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_A[10]" 		DRIVE=4;
IOBUF 		PORT "SDRAM_A[10]" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_A[10]" 		IO_TYPE=LVCMOS33;
LOCATE 		COMP "SDRAM_A[11]" 		SITE "R14";
IOBUF 		PORT "SDRAM_A[11]" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_A[11]" 		DRIVE=4;
IOBUF 		PORT "SDRAM_A[11]" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_A[11]" 		IO_TYPE=LVCMOS33;
LOCATE 		COMP "SDRAM_A[12]" 		SITE "T14";
IOBUF 		PORT "SDRAM_A[12]" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_A[12]" 		DRIVE=4;
IOBUF 		PORT "SDRAM_A[12]" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_A[12]" 		IO_TYPE=LVCMOS33;
LOCATE	 	COMP "SDRAM_DQ[0]" 		SITE "F16";
IOBUF 		PORT "SDRAM_DQ[0]" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_DQ[0]" 		DRIVE=4;
IOBUF 		PORT "SDRAM_DQ[0]" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_DQ[0]" 		IO_TYPE=LVCMOS33;
LOCATE 		COMP "SDRAM_DQ[1]" 		SITE "E15";
IOBUF 		PORT "SDRAM_DQ[1]" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_DQ[1]" 		DRIVE=4;
IOBUF 		PORT "SDRAM_DQ[1]" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_DQ[1]" 		IO_TYPE=LVCMOS33;
LOCATE 		COMP "SDRAM_DQ[2]" 		SITE "F15";
IOBUF 		PORT "SDRAM_DQ[2]" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_DQ[2]" 		DRIVE=4;
IOBUF 		PORT "SDRAM_DQ[2]" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_DQ[2]" 		IO_TYPE=LVCMOS33;
LOCATE 		COMP "SDRAM_DQ[3]" 		SITE "D14";
IOBUF 		PORT "SDRAM_DQ[3]" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_DQ[3]" 		DRIVE=4;
IOBUF 		PORT "SDRAM_DQ[3]" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_DQ[3]" 		IO_TYPE=LVCMOS33;
LOCATE 		COMP "SDRAM_DQ[4]" 		SITE "E16";
IOBUF 		PORT "SDRAM_DQ[4]" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_DQ[4]" 		DRIVE=4;
IOBUF 		PORT "SDRAM_DQ[4]" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_DQ[4]" 		IO_TYPE=LVCMOS33;
LOCATE	 	COMP "SDRAM_DQ[5]" 		SITE "C15";
IOBUF 		PORT "SDRAM_DQ[5]" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_DQ[5]" 		DRIVE=4;
IOBUF 		PORT "SDRAM_DQ[5]" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_DQ[5]" 		IO_TYPE=LVCMOS33;
LOCATE	 	COMP "SDRAM_DQ[6]" 		SITE "D16";
IOBUF 		PORT "SDRAM_DQ[6]" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_DQ[6]" 		DRIVE=4;
IOBUF 		PORT "SDRAM_DQ[6]" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_DQ[6]" 		IO_TYPE=LVCMOS33;
LOCATE	 	COMP "SDRAM_DQ[7]" 		SITE "B15";
IOBUF 		PORT "SDRAM_DQ[7]" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_DQ[7]" 		DRIVE=4;
IOBUF 		PORT "SDRAM_DQ[7]" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_DQ[7]" 		IO_TYPE=LVCMOS33;
LOCATE		COMP "SDRAM_DQ[8]" 		SITE "R16";
IOBUF 		PORT "SDRAM_DQ[8]" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_DQ[8]" 		DRIVE=4;
IOBUF 		PORT "SDRAM_DQ[8]" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_DQ[8]" 		IO_TYPE=LVCMOS33;
LOCATE		COMP "SDRAM_DQ[9]" 		SITE "P16";
IOBUF 		PORT "SDRAM_DQ[9]" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_DQ[9]" 		DRIVE=4;
IOBUF 		PORT "SDRAM_DQ[9]" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_DQ[9]" 		IO_TYPE=LVCMOS33;
LOCATE 		COMP "SDRAM_DQ[10]"		SITE "P15";
IOBUF 		PORT "SDRAM_DQ[10]"		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_DQ[10]"		DRIVE=4;
IOBUF 		PORT "SDRAM_DQ[10]"		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_DQ[10]"		IO_TYPE=LVCMOS33;
LOCATE		COMP "SDRAM_DQ[11]"		SITE "N16";
IOBUF 		PORT "SDRAM_DQ[11]"		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_DQ[11]"		DRIVE=4;
IOBUF 		PORT "SDRAM_DQ[11]"		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_DQ[11]"		IO_TYPE=LVCMOS33;
LOCATE 		COMP "SDRAM_DQ[12]"		SITE "N14";
IOBUF 		PORT "SDRAM_DQ[12]"		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_DQ[12]"		DRIVE=4;
IOBUF 		PORT "SDRAM_DQ[12]"		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_DQ[12]"		IO_TYPE=LVCMOS33;
LOCATE 		COMP "SDRAM_DQ[13]"		SITE "M16";
IOBUF 		PORT "SDRAM_DQ[13]"		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_DQ[13]"		DRIVE=4;
IOBUF 		PORT "SDRAM_DQ[13]"		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_DQ[13]"		IO_TYPE=LVCMOS33;
LOCATE	 	COMP "SDRAM_DQ[14]"		SITE "M15";
IOBUF 		PORT "SDRAM_DQ[14]"		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_DQ[14]"		DRIVE=4;
IOBUF 		PORT "SDRAM_DQ[14]"		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_DQ[14]"		IO_TYPE=LVCMOS33;
LOCATE		COMP "SDRAM_DQ[15]"		SITE "L15";
IOBUF 		PORT "SDRAM_DQ[15]"		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_DQ[15]"		DRIVE=4;
IOBUF 		PORT "SDRAM_DQ[15]"		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_DQ[15]"		IO_TYPE=LVCMOS33;
LOCATE 		COMP "SDRAM_WEX" 		SITE "A15";
IOBUF 		PORT "SDRAM_WEX" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_WEX" 		DRIVE=4;
IOBUF 		PORT "SDRAM_WEX" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_WEX" 		IO_TYPE=LVCMOS33;
LOCATE 		COMP "SDRAM_RASX" 		SITE "B16";
IOBUF 		PORT "SDRAM_RASX" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_RASX" 		DRIVE=4;
IOBUF 		PORT "SDRAM_RASX" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_RASX" 		IO_TYPE=LVCMOS33;
LOCATE 		COMP "SDRAM_CASX" 		SITE "G16";
IOBUF 		PORT "SDRAM_CASX" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_CASX"		DRIVE=4;
IOBUF 		PORT "SDRAM_CASX"		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_CASX"		IO_TYPE=LVCMOS33;
LOCATE 		COMP "SDRAM_CSX" 		SITE "A14";
IOBUF 		PORT "SDRAM_CSX" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_CSX" 		DRIVE=4;
IOBUF 		PORT "SDRAM_CSX" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_CSX" 		IO_TYPE=LVCMOS33;
LOCATE	 	COMP "SDRAM_CKE" 		SITE "L16";
IOBUF 		PORT "SDRAM_CKE" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_CKE" 		DRIVE=4;
IOBUF 		PORT "SDRAM_CKE" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_CKE" 		IO_TYPE=LVCMOS33;
LOCATE 		COMP "SDRAM_BA[0]" 		SITE "G15";
IOBUF 		PORT "SDRAM_BA[0]" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_BA[0]" 		DRIVE=4;
IOBUF 		PORT "SDRAM_BA[0]" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_BA[0]" 		IO_TYPE=LVCMOS33;
LOCATE 		COMP "SDRAM_BA[1]" 		SITE "B14";
IOBUF 		PORT "SDRAM_BA[1]" 		PULLMODE=NONE;
IOBUF 		PORT "SDRAM_BA[1]" 		DRIVE=4;
IOBUF 		PORT "SDRAM_BA[1]" 		SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_BA[1]" 		IO_TYPE=LVCMOS33;
LOCATE	 	COMP "SDRAM_DQM[0]" 	SITE "C16";
IOBUF 		PORT "SDRAM_DQM[0]" 	PULLMODE=NONE;
IOBUF 		PORT "SDRAM_DQM[0]" 	DRIVE=4;
IOBUF 		PORT "SDRAM_DQM[0]" 	SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_DQM[0]" 	IO_TYPE=LVCMOS33;
LOCATE	 	COMP "SDRAM_DQM[1]" 	SITE "T15";
IOBUF 		PORT "SDRAM_DQM[1]" 	PULLMODE=NONE;
IOBUF 		PORT "SDRAM_DQM[1]" 	DRIVE=4;
IOBUF 		PORT "SDRAM_DQM[1]" 	SLEWRATE=FAST;
IOBUF 		PORT "SDRAM_DQM[1]"		IO_TYPE=LVCMOS33;

#SDCARD
LOCATE		COMP "sd_sck" 		SITE "J12";		#SD_CLK
IOBUF 		PORT "sd_sck" 		SLEWRATE=FAST;
IOBUF 		PORT "sd_sck" 		IO_TYPE=LVCMOS33;
LOCATE		COMP "sd_mosi"		SITE "H12";		#SD_CMD
IOBUF 		PORT "sd_mosi" 		SLEWRATE=FAST;
IOBUF 		PORT "sd_mosi" 		IO_TYPE=LVCMOS33;
IOBUF 		PORT "sd_mosi" 		PULLMODE=UP;
LOCATE 		COMP "sd_ss" 		SITE "G12";		#SD_DATA3
IOBUF 		PORT "sd_ss" 		SLEWRATE=FAST;
IOBUF 		PORT "sd_ss" 		IO_TYPE=LVCMOS33;
IOBUF 		PORT "sd_ss" 		PULLMODE=UP;
LOCATE 		COMP "sd_miso" 		SITE "K12";		#SD_DATA0
IOBUF 		PORT "sd_miso" 		SLEWRATE=FAST;
IOBUF 		PORT "sd_miso" 		IO_TYPE=LVCMOS33;
IOBUF 		PORT "sd_miso" 		PULLMODE=UP;
